In [2]:
import pandas as pd
import datetime

In [3]:
data = pd.read_csv('donnees-synop-essentielles-omm.csv', sep=';', low_memory=False)
newData = pd.DataFrame({
    'Date': pd.to_datetime(data['Date'], infer_datetime_format=True),
    'IDStation': data['ID OMM station'],
    'Temperature': data['Temperature'] - 273,
    'Coordonnees': data['Coordonnees'],
    'NomLieu': data['Nom'],
    'VitesseVent': data['Vitesse du vent moyen 10 mn'],
    'Pluie1': data['Précipitations dans la dernière heure'],
    'Pluie3': data['Précipitations dans les 3 dernières heures'],
    'Pluie6': data['Précipitations dans les 6 dernières heures'],
    'Pluie12': data['Précipitations dans les 12 dernières heures'],
    'Pluie24': data['Précipitations dans les 24 dernières heures'],
    'Neige': data['Hauteur totale de la couche de neige, glace, autre au sol'],
    'NeigeFraiche': data['Hauteur de la neige fraîche']
})
newData.head()

,Date,IDStation,Temperature,Coordonnees,NomLieu,VitesseVent,Pluie1,Pluie3,Pluie6,Pluie12,Pluie24,Neige,NeigeFraiche
0,2018-08-08 09:00:00,7168,22.35,"48.324667, 4.02",TROYES-BARBEREY,3.2,0.0,0.0,0.0,10.2,10.2,0.0,NaN
1,2018-08-08 12:00:00,7037,22.65,"49.383, 1.181667",ROUEN-BOOS,4.7,0.0,0.0,0.0,0.0,4.2,0.0,NaN
2,2018-08-08 12:00:00,7149,25.65,"48.716833, 2.384333",ORLY,4.4,0.0,0.0,0.0,-0.1,-0.1,0.0,NaN
3,2018-08-08 12:00:00,7299,28.85,"47.614333, 7.51",BALE-MULHOUSE,3.7,0.0,0.0,0.0,0.2,0.2,0.0,0.0
4,2018-08-08 12:00:00,7630,27.75,"43.621, 1.378833",TOULOUSE-BLAGNAC,2.2,0.0,0.0,0.0,0.0,-0.1,0.0,NaN

In [11]:
newData = newData[(newData.Date > '2018-11-01') & (newData.IDStation == 7149)].sort_values(by=['Date'])
newData.head()

,Date,IDStation,Temperature,Coordonnees,NomLieu,VitesseVent,Pluie1,Pluie3,Pluie6,Pluie12,Pluie24,Neige,NeigeFraiche
1441810,2018-11-01 03:00:00,7149,10.05,"48.716833, 2.384333",ORLY,2.5,0.0,0.0,0.0,2.2,2.8,0.0,0.0
1456135,2018-11-01 06:00:00,7149,10.35,"48.716833, 2.384333",ORLY,3.1,NaN,0.0,NaN,0.2,2.8,0.0,NaN
1434264,2018-11-01 09:00:00,7149,11.05,"48.716833, 2.384333",ORLY,4.2,0.0,0.0,0.0,0.0,2.8,0.0,0.0
1443922,2018-11-01 12:00:00,7149,11.05,"48.716833, 2.384333",ORLY,3.1,0.0,0.0,0.0,0.0,2.8,0.0,0.0
1445651,2018-11-01 15:00:00,7149,10.85,"48.716833, 2.384333",ORLY,2.7,0.6,1.8,1.8,1.8,4.0,0.0,0.0

In [12]:
newData.to_csv('newData.csv')