In [14]:
import pandas as pd
import datetime

In [15]:
data = pd.read_csv('donnees-synop-essentielles-omm.csv', sep=';', low_memory=False)
newData = pd.DataFrame({
    'Date': pd.to_datetime(data['Date'], infer_datetime_format=True),
    'IDStation': data['ID OMM station'],
    'Temperature': data['Temperature'] - 273,
    'Coordonnees': data['Coordonnees'],
    'NomLieu': data['Nom'],
    'VitesseVent': data['Vitesse du vent moyen 10 mn'],
    'Pluie1': data['Précipitations dans la dernière heure'],
    'Pluie3': data['Précipitations dans les 3 dernières heures'],
    'Pluie6': data['Précipitations dans les 6 dernières heures'],
    'Pluie12': data['Précipitations dans les 12 dernières heures'],
    'Pluie24': data['Précipitations dans les 24 dernières heures'],
    'Neige': data['Hauteur totale de la couche de neige, glace, autre au sol'],
    'NeigeFraiche': data['Hauteur de la neige fraîche'],
    'Coordonnees': data['Coordonnees']
})
newData = newData.fillna(0)
newData.head()

,Date,IDStation,Temperature,Coordonnees,NomLieu,VitesseVent,Pluie1,Pluie3,Pluie6,Pluie12,Pluie24,Neige,NeigeFraiche
0,2018-08-08 09:00:00,7168,22.35,"48.324667, 4.02",TROYES-BARBEREY,3.2,0.0,0.0,0.0,10.2,10.2,0.0,0.0
1,2018-08-08 12:00:00,7037,22.65,"49.383, 1.181667",ROUEN-BOOS,4.7,0.0,0.0,0.0,0.0,4.2,0.0,0.0
2,2018-08-08 12:00:00,7149,25.65,"48.716833, 2.384333",ORLY,4.4,0.0,0.0,0.0,-0.1,-0.1,0.0,0.0
3,2018-08-08 12:00:00,7299,28.85,"47.614333, 7.51",BALE-MULHOUSE,3.7,0.0,0.0,0.0,0.2,0.2,0.0,0.0
4,2018-08-08 12:00:00,7630,27.75,"43.621, 1.378833",TOULOUSE-BLAGNAC,2.2,0.0,0.0,0.0,0.0,-0.1,0.0,0.0

In [16]:
newData = newData.groupby([pd.Grouper(key='NomLieu'), pd.Grouper(key='IDStation'), pd.Grouper(key='Coordonnees'), pd.Grouper(key='Date', freq='D')]).mean()
newData.head()

                                                      Temperature  \
NomLieu         IDStation Coordonnees     Date
TROYES-BARBEREY 7168      48.324667, 4.02 2010-01-01       0.9000
                                          2010-01-02      -0.5625
                                          2010-01-03       0.8250
                                          2010-01-04      -5.2875
                                          2010-01-05      -6.9750

                                                      VitesseVent  Pluie1  \
NomLieu         IDStation Coordonnees     Date
TROYES-BARBEREY 7168      48.324667, 4.02 2010-01-01       4.8625     0.0
                                          2010-01-02       2.3250     0.0
                                          2010-01-03       1.6625     0.0
                                          2010-01-04       2.7750     0.0
                                          2010-01-05       1.5375     0.0

                                                      Pluie3  Pluie6  Pluie12  \
NomLieu         IDStation Coordonnees     Date
TROYES-BARBEREY 7168      48.324667, 4.02 2010-01-01     0.0   0.025    0.025
                                          2010-01-02     0.0   0.000    0.000
                                          2010-01-03     0.0   0.000    0.000
                                          2010-01-04     0.0   0.000    0.000
                                          2010-01-05     0.0   0.000    0.000

                                                      Pluie24  Neige  \
NomLieu         IDStation Coordonnees     Date
TROYES-BARBEREY 7168      48.324667, 4.02 2010-01-01    0.175    0.0
                                          2010-01-02    0.000    0.0
                                          2010-01-03    0.000    0.0
                                          2010-01-04    0.000    0.0
                                          2010-01-05    0.000    0.0

                                                      NeigeFraiche
NomLieu         IDStation Coordonnees     Date
TROYES-BARBEREY 7168      48.324667, 4.02 2010-01-01           0.0
                                          2010-01-02           0.0
                                          2010-01-03           0.0
                                          2010-01-04           0.0
                                          2010-01-05           0.0

In [17]:
newData.to_csv('newData.csv')