In [5]:
import pandas as pd
import datetime

In [6]:
data = pd.read_csv('donnees-synop-essentielles-omm.csv', sep=';', low_memory=False)
newData = pd.DataFrame({
    'Date': pd.to_datetime(data['Date'], infer_datetime_format=True),
    'IDStation': data['ID OMM station'],
    'Temperature': data['Temperature'] - 273,
    'Coordonnees': data['Coordonnees'],
    'NomLieu': data['Nom'],
    'VitesseVent': data['Vitesse du vent moyen 10 mn'],
    'Pluie1': data['Précipitations dans la dernière heure'],
    'Pluie3': data['Précipitations dans les 3 dernières heures'],
    'Pluie6': data['Précipitations dans les 6 dernières heures'],
    'Pluie12': data['Précipitations dans les 12 dernières heures'],
    'Pluie24': data['Précipitations dans les 24 dernières heures'],
    'Neige': data['Hauteur totale de la couche de neige, glace, autre au sol'],
    'NeigeFraiche': data['Hauteur de la neige fraîche'],
    'Coordonnees': data['Coordonnees']
})
newData = newData.fillna(0)
newData.head()

,Date,IDStation,Temperature,Coordonnees,NomLieu,VitesseVent,Pluie1,Pluie3,Pluie6,Pluie12,Pluie24,Neige,NeigeFraiche
0,2018-08-08 09:00:00,7168,22.35,"48.324667, 4.02",TROYES-BARBEREY,3.2,0.0,0.0,0.0,10.2,10.2,0.0,0.0
1,2018-08-08 12:00:00,7037,22.65,"49.383, 1.181667",ROUEN-BOOS,4.7,0.0,0.0,0.0,0.0,4.2,0.0,0.0
2,2018-08-08 12:00:00,7149,25.65,"48.716833, 2.384333",ORLY,4.4,0.0,0.0,0.0,-0.1,-0.1,0.0,0.0
3,2018-08-08 12:00:00,7299,28.85,"47.614333, 7.51",BALE-MULHOUSE,3.7,0.0,0.0,0.0,0.2,0.2,0.0,0.0
4,2018-08-08 12:00:00,7630,27.75,"43.621, 1.378833",TOULOUSE-BLAGNAC,2.2,0.0,0.0,0.0,0.0,-0.1,0.0,0.0

In [7]:
newData = newData.groupby([pd.Grouper(key='NomLieu'), pd.Grouper(key='IDStation'), pd.Grouper(key='Coordonnees'), pd.Grouper(key='Date', freq='M')]).mean()
newData.head()

                            IDStation  Temperature  VitesseVent    Pluie1  \
NomLieu         Date
TROYES-BARBEREY 2010-01-31       7168     0.232186     3.062348  0.048583
                2010-02-28       7168     3.470536     4.690625  0.054464
                2010-03-31       7168     6.511290     4.283468  0.054839
                2010-04-30       7168    10.357500     3.178333  0.026667
                2010-05-31       7168    12.303629     3.306855  0.065323

                              Pluie3    Pluie6   Pluie12   Pluie24     Neige  \
NomLieu         Date
TROYES-BARBEREY 2010-01-31  0.137652  0.051822  0.140081  0.142510  0.003117
                2010-02-28  0.197321  0.088393  0.200000  0.179464  0.002098
                2010-03-31  0.170161  0.073387  0.170161  0.185484  0.000000
                2010-04-30  0.063333  0.026667  0.064167  0.062500  0.000000
                2010-05-31  0.284677  0.142742  0.283065  0.273790  0.000000

                            NeigeFraiche
NomLieu         Date
TROYES-BARBEREY 2010-01-31      0.011538
                2010-02-28      0.000089
                2010-03-31      0.000000
                2010-04-30      0.000000
                2010-05-31      0.000000

In [8]:
newData.to_csv('newData.csv')